#office-MultiFeatureCarousel-nyr4dsg{-webkit-text-size-adjust: 100%;
font-size: 15px;
font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
color: #000;
box-sizing: inherit;
min-height: 1px;}